@media only screen and (max-width: 1200px) {
  //<<<<<<<---------Login------->>>>>>>
  ._appNavigation_Banner__CqsfJ {
    left: 10%;
  }
  ._login_institutionalWrapper__0iNzJ {
    height: max-content !important;
    padding: 3rem 0 !important;
  }
  .makeStyles-root-1 {
    min-width: 400px !important;
  }
  ._login_loginMainHeader__m4HVz {
    font-size: 29px !important;
    padding-top: 21px !important;
  }
  ._login_loginSubheader__0fVLG {
    font-size: 13px !important;
    padding: 24px 41px !important;
    width: 395px !important;
  }
  ._login_instututionalloginSubheader__De3mS {
    font-size: 21px !important;
    margin-bottom: 20px !important;
  }
  .LoginWrapper {
    height: max-content;
    padding: 3rem 0;
  }
  //<<<<<<<---------Login-----end---here---->>>>>>>
  //<<<<<<<---------Home-------->>>>>>>
  .homeContent_containerMain__Vwq\+J,
  .homeContent_colorLayer__4l8nK {
    min-height: 400px !important;
    height: 400px !important;
  }
  .homeContent_contentLayer__GNUwA h1 {
    font-size: 2.4rem !important;
  }
  .homeContent_contentLayer__GNUwA p {
    font-size: 0.89em !important;
    line-height: 28px !important;
    margin-top: 1rem;
  }
  ._trendingWriter_writerContainer__PgdIa {
    padding: 0.6rem !important;
  }
  ._trendingWriter_WriterAvatar__ZcVgR img {
    width: 56px !important;
    height: 56px !important;
  }
  .Latest_Wrapper .Latest_heading h1 {
    font-size: 34px;
    line-height: 32px;
    padding: 1.3rem 0 2rem;
  }
  .bookWrapper h1,
  .bookWrapperReverse h1 {
    font-size: 1.5em !important;
  }
  .bookWrapper h2,
  .bookWrapperReverse h2 {
    margin: 0.5rem 0rem !important;
  }
  .Book_btn button {
    margin: 1.4rem 0 1rem !important;
    a {
      font-size: 1em !important;
    }
  }
  ._trendingAuthor_bookDescription__C0WeB p {
    font-size: 0.8rem;
    line-height: 23px !important;
  }
  ._publicationBanner_TextArea__ML4iF h1,
  ._aboutSection_ContentArea__1dXjs h1 {
    font-size: 2.4rem !important;
  }
  .Client_Wrapper .Client_img figure img {
    max-width: 70%;
  }
  ._trendingAuthor_bookDescription__C0WeB h1 {
    line-height: 1.5;
    font-size: 1em;
  }
  ._trendingAuthor_bookImage__FuiQ8 img {
    height: max-content !important;
    width: 100% !important;
  }
  .Wishlist_Wrapper .Whishlist_header h2 {
    font-size: 1.9em;
  }
  .Address_Wrapper
    .Address_Content
    .Address_Main_list
    .Address-list
    .Address-Full
    button {
    width: 300px;
    height: 43px; 
    font-size: 1em;
  }
  //<<<<<<<-----------Home---end---here---->>>>>>>
}
@media only screen and (max-width: 1024px) {
  ._aboutSection_flexContainer__2cfMW {
    grid-gap: 2rem !important;
  }

  element.style {
  }
  ._aboutSection_AboutMain__HL1U2 {
    padding: 5rem 0 10rem;
    width: 100%;
  }
  ._appNavigation_navigationContainer__OOT6Y {
    margin-top: 1rem;
    width: max-content !important;
    display: none !important;
  }
  ._appNavigation_iconArea__UZsHc {
    width: max-content !important;
  }
  ._publicationBanner_ImageContainer__8nrEw img {
    max-width: 100%;
  }
  ._publicationBanner_TextArea__ML4iF h1,
  ._aboutSection_ContentArea__1dXjs h1 {
    font-size: 2rem !important;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h2 {
    font-size: 1.9em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h5 {
    padding: 0.5rem 0;
    font-size: 1em;
    line-height: 23px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button
    a {
    font-size: 1em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button {
    width: 190px;
    height: 40px;
  }
  .Description_wrapper .Otherbook_Wrapper .Otherbook-Heading h2 {
    padding: 0 0 0 0rem;
    font-size: 1.3em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    figcaption
    p {
    font-size: 0.79em;
    word-break: break-word;
  }
  .Save_Content_wrp .Save_Content {
    height: max-content !important;
  }
  // <<<<<<-----------Footer------>>>>>>>>>

  .Footer_Wrapper .Footer_Content {
    grid-gap: 9rem;
  }
  .Footer_Wrapper .Footer_Content .foot_item ul li a {
    font-size: 0.79em;
  }

  // <<<<<<-----------Footer---end---here--->>>>>>>>>
}
@media only screen and (max-width: 992px) {
  .Description_wrapper .Otherbook_Wrapper .Grid_Carousel_wrp .Grid-item figure {
    height: 209px !important;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content {
    width: 50%;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h2 {
    font-size: 1.2em;
    line-height: 30px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button
    a {
    font-size: 0.89em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About-book-detail
    > ul
    li
    strong {
    font-size: 15px;
  }
  .Description_wrapper
    .Otherbook_Wrapper
    .Grid_Carousel_wrp
    .Grid-item
    figcaption
    h3 {
    font-size: 15px;
  }
  ._appNavigation_Banner__CqsfJ {
    padding-left: 6rem;
  }
  // <<<<<<-----------Footer------>>>>>>>>>
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem 1rem;
  }
  .Description_wrapper .Description_Content .Description_Left figure img {
    max-width: 43%;
  }
  // <<<<<<-----------Footer--end--here---->>>>>>>>>
}
@media only screen and (max-width: 800px) {
  .Description_wrapper .Description_Content {
    padding: 6rem 0 2rem;
    grid-template-columns: 250px 1fr;
    grid-gap: 1rem;
    width: 91%;
    margin: 0 auto;
  }

  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
    width: 53%;
    left: 20%;
    top: -49px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content
    button {
    height: 38px;
    width: 90px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content {
    grid-gap: 1.5rem;
    grid-template-columns: 250px max-content;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .rect_Wrp {
    width: 100%;
    height: 24px;
  }
  .Main_HomeWrapper .Category_Wrapper {
    padding: 5rem 0 1rem;
  }

  .Main_HomeWrapper .Category_Wrapper .Category_Grid_Wrp {
    padding: 2.5rem 0 1rem;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content h1 {
    font-size: 1.2em;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content p {
    padding: 1rem 0 0;
    font-size: 15px;
  }

  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap img {
    width: 18px;
    height: 18px;
  }
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content
    .Grid-item
    figcaption
    h3 {
    font-size: 15px;
  }
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
  }

  .SaveMain_Wrapper .Save_Content_wrp {
    padding: 4rem 0 3rem;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .SaveBook_Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    grid-gap: 3rem 1rem;
  }
  // <<<<<<-----------Footer------>>>>>>>>>
  .Footer_Wrapper .Footer_Content {
    grid-gap: 6rem;
  }
  .Footer_Wrapper .Footer_Content .foot_item .Heading_wrp h2 {
    font-size: 0.9em;
  }
  .Footer_Wrapper .Footer_Content .foot_item ul li a {
    font-size: 0.75em;
  }
  .Footer_Wrapper .Footer_Content .foot_item ul li {
    padding: 0.4rem 0;
  }

  // <<<<<<-----------Footer---end---here--->>>>>>>>>
}

@media only screen and (max-width: 768px) {
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .SaveBook_Grid
    .Grid-item
    figure {
    height: 250px !important;
  }
  .Description_wrapper .Description_Content .Description_Left {
    text-align: center;
  }
  .Description_wrapper .Description_Content {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  .Profile_Wrapper {
    top: 12px;
    right: 30px;
  }
  .Main_HomeWrapper {
    padding: 3.3rem 0 0;
  }
  .Main_HomeWrapper .Banner_Wrapper {
    height: 300px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content {
    grid-gap: 1.5rem;
    grid-template-columns: 218px max-content;
  }
  .Profile_Wrapper .Profilebtn {
    font-size: 12px;
  }
  .Footer_Wrapper .Footer_Content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14rem;
  }
  ._login_loginMainHeader__NBtaD {
    font-size: 1.8em !important;
  }
  // <<<<<<-----------Footer------>>>>>>>>>
  .Footer_Wrapper .Footer_Content {
    grid-gap: 0.5rem;
  }
  // <<<<<<-----------Footer---end---here--->>>>>>>>>
  .LoginUsers {
    input {
      padding: 9.5px 14px !important;
    }
    .MuiInputLabel-outlined {
      transform: translate(14px, 11px) scale(1);
      font-size: 14px !important;
    }
  }
  .homeContent_contentLayer__GNUwA h1 {
    width: 100% !important;
  }
  .homeContent_contentLayer__GNUwA {
    left: 43% !important;
    top: 23% !important;
  }
  .Latest_Wrapper .LatestGrid_wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .book-image-conatiner {
    text-align: center;
    img {
      // max-width: 100% !important;
      margin: 0 auto !important;
    }
  }
  .Book_btn button a {
    line-height: 0 !important;
  }
  .homeContent_contentLayer__GNUwA h1 {
    font-size: 1.9rem !important;
  }
  .homeContent_contentLayer__GNUwA p {
    font-size: 0.79em !important;
    line-height: 25px !important;
    margin-top: 1rem;
  }
  .Latest_Wrapper .Latest_heading h1 {
    font-size: 28px;
    line-height: 32px;
    padding: 1.3rem 0 2.5rem;
  }
  ._digitalCatelog_containerMain__Rq7nP h1 {
    font-size: 1.84rem;
    letter-spacing: 3px;
  }
  ._digitalCatelog_containerMain__Rq7nP {
    padding-top: 3rem;
  }
  ._digitalCatelog_catelogContainer__dv\+W5 {
    margin-top: 3rem !important;
  }
  ._publicationBanner_TextArea__ML4iF h1,
  ._aboutSection_ContentArea__1dXjs h1 {
    font-size: 1.78rem !important;
  }
  ._publicationBanner_TextArea__ML4iF p {
    margin: 1rem 0 2rem;
    width: 60%;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
  }
  .CustomeButton {
    a {
      color: #fe4365;
    }
  }
  ._appNavigation_iconArea__UZsHc {
    margin-top: 0rem !important;
  }
  .Search_Wrp input {
    display: none;
  }
  .Account_Wrapper .Account_Content ul li figcaption h3 {
    font-size: 19px;
  }
  .Account_Wrapper .Account_Content ul li figcaption p {
    font-size: 13px;
    padding: 0.4rem 0;
  }
  .Account_Wrapper .Account_Content ul li figure img {
    max-width: 87%;
  }
}

@media only screen and (max-width: 576px) {
  .cartTop {
    display: none;
  }
  .Account_Content ul {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 0.5rem 0rem !important;
  }
  .Account_Wrapper .Account_Content ul li {
    margin: 0.3rem 0 !important;
  }

  .Wishlist_Wrapper .Whishlist_header {
    margin: 1rem 0;
  }
  .Wishlist_Wrapper .Whishlist_header h2 {
    font-size: 1.8em;
  }

  ._trendingWriter_WriterAvatar__ZcVgR img {
    width: 48px !important;
    height: 48px !important;
  }
  .homeContent_contentLayer__GNUwA p {
    width: 100% !important;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .SaveBook_Grid
    .Grid-item
    figure {
    height: 200px !important;
  }
  .Save_Content_wrp .Save_Content .SaveBook_Grid .Grid-item figcaption h3 {
    font-size: 0.89em;
  }
  .Profile_Wrapper .Profilebtn {
    font-size: 11px;
  }
  .Profile_Wrapper {
    top: 4px;
    right: 22px;
  }
  .Profile_Wrapper .Profilebtn {
    padding: 0.3rem 0.5rem !important;
    grid-template-columns: 130px 20px;
    grid-gap: 0.5rem;
    span {
      word-break: break-word !important;
    }
  }
  .Main_HomeWrapper .Banner_Wrapper {
    height: 270px;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content {
    width: 85%;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
    width: 74%;
    left: 13%;
    top: -49px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content {
    grid-gap: 1.5rem;
    grid-template-columns: 200px max-content;
    justify-content: space-between;
  }

  .Main_HomeWrapper .Banner_Wrapper .Banner_Content p {
    padding: 1rem 0 0;
    font-size: 13px;
  }
  .LoginWrapper {
    display: block !important;
    ._login_loginSubheader__El5a7 {
      width: auto;
      padding: 22px 13px;
    }
    .LoginUsers {
      width: 90%;
      ._login_passwordField__0Ss0D {
        width: 100%;
      }
    }
  }
  .MainCard_Wrp {
    .card_Wrapper {
      width: 90%;
      min-width: auto !important;
      margin: 0 auto;
      padding: 0 1rem;
    }
  }
  .Description_wrapper .Otherbook_Wrapper .Grid_Carousel_wrp .Grid-item figure {
    height: 124px !important;
  }

  // <<<<<<<<-----Bottom----Navigation----->>>>>>
  .NavigationSection_Mobile {
    display: block;
  }
  .NavigationSection_Laptop {
    display: none;
  }
  ._appNavigation_navigationContainer__OOT6Y {
    display: block !important;
    position: fixed;
    bottom: 51px;
    width: 100% !important;
    left: 0;
    background: #ffff;
    padding: 1rem;
    box-shadow: -1px -1px 6px 0px #eeee;
    ul {
      margin-left: 0 !important;
      display: grid !important;
      grid-gap: 1rem;
      grid-template-columns: repeat(2, 1fr) !important;
      a {
        font-size: 0.79em;
      }
    }
    ._appNavigation_bullet__1AhJh {
      display: none !important;
    }
  }
  .CartMain_Wrapper .CartCounter {
    top: -9px;
    right: -10px;
    width: 14px;
    height: 15px;
  }

  .Bottom_Navitgator_Wrapper {
    display: block;
    position: relative;
    .Search-input {
      position: fixed;
      background: #fff;
      box-shadow: 0px 0px 11px 0px #00000040;
      padding: 0.56rem;
      width: 90%;
      bottom: 4rem;
      z-index: 999;
      margin: 0 auto;
      border-radius: 5px;
      left: 28px;
      input {
        padding: 0.5rem;
        border-radius: 4px;
        width: 100%;
      }
    }
    ul {
      display: flex;
      position: fixed;
      background: #fff;
      padding: 1rem;
      width: 100%;
      grid-gap: 1rem;
      z-index: 999;
      bottom: 0;
      // transform: translate(0px, 23.5cm);
      justify-content: space-around;
      box-shadow: 0px -3px 8px 0px #00000040;

      li {
        list-style-type: none;
        a {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }

  // <<<<<<<<-----Bottom----Navigation---end--here-->>>>>>
}
@media only screen and (max-width: 480px) {
  .homeContent_contentLayer__GNUwA h1 {
    font-size: 1.6rem !important;
  }
  .homeContent_contentLayer__GNUwA p {
    font-size: 0.7em !important;
    line-height: 1.5 !important;
    margin-top: 0.7rem;
  }
  .homeContent_containerMain__Vwq\+J,
  .homeContent_colorLayer__4l8nK {
    min-height: 330px !important;
    height: 330px !important;
  }
  ._trendingAuthor_sectionMain__NlFG\+ {
    padding: 6rem 3rem 3rem 2rem !important;
  }
  ._trendingAuthor_bookDescription__C0WeB h1 {
    font-size: 0.9em;
  }
  ._trendingAuthor_bookDescription__C0WeB h2 {
    margin-top: 0.4rem;
    font-size: 0.89rem;
  }
  .TrendingStar_wrp li {
    list-style-type: none;
    font-size: 0.69em;
  }
  ._trendingAuthor_bookDescription__C0WeB p {
    width: 100% !important;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .SaveBook_Grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 1rem;
  }
  ._trendingAuthor_authorDescription__dpuob img {
    max-width: 100% !important;
    height: 300px !important;
  }
  .Latest_Wrapper .Latest_heading h1 {
    font-size: 25px;
    line-height: 32px;
    padding: 1.3rem 0 2rem;
  }

  .book-image-conatiner img {
    max-width: 90%;
  }

  .bookWrapper h1,
  .bookWrapperReverse h1 {
    font-size: 1.2em !important;
  }
  .bookWrapperReverse h2 {
    font-size: 0.89em;
  }
  .bookWrapperReverse p {
    font-size: 13px;
  }
  ._digitalCatelog_containerMain__Rq7nP {
    width: 100%;
    min-height: auto !important;
    padding-top: 2rem !important;
  }
  ._digitalCatelog_containerMain__Rq7nP h1,
  ._publicationBanner_TextArea__ML4iF h1 {
    font-size: 1.8rem !important;
    letter-spacing: 3px;
  }
  ._digitalCatelog_containerMain__Rq7nP h1:last-child {
    font-size: 1.2rem !important;
  }
  ._publicationBanner_TextArea__ML4iF p {
    margin-top: 0.8rem !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    margin-bottom: 2rem !important;
  }
  ._publicationBanner_ContainerMain__VZBw2 {
    padding: 2rem 2rem !important;
  }
  ._publicationBanner_TextArea__ML4iF h1 {
    margin-top: 1rem;
  }
  ._aboutSection_ContentArea__1dXjs {
    margin-top: 0rem !important;
    padding: 0.5rem 1.5rem !important;
  }
  ._aboutSection_ContentArea__1dXjs p {
    font-size: 0.8rem;
    margin: 0.5rem 0 !important;
    line-height: 1.6 !important;
  }
  ._aboutSection_ContentArea__1dXjs ul {
    margin: 1rem 1rem !important;
  }
  ._aboutSection_AboutMain__HL1U2 {
    padding: 3rem 1rem 1rem !important;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button {
    width: 130px;
    height: 40px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button
    a {
    font-size: 0.79em;
    grid-gap: 0.7rem;
  }
  .Description_wrapper .Otherbook_Wrapper .Otherbook-Heading h2 {
    font-size: 1.11em;
  }
  .Description_wrapper .Otherbook_Wrapper .Otherbook-Heading {
    padding: 1.2rem 0;
  }
  .Description_wrapper .Otherbook_Wrapper {
    padding: 0rem 0 1.5rem;
  }
  .Description_wrapper .Otherbook_Wrapper .Grid_Carousel_wrp {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 1rem;
  }
  .Description_wrapper .Description_Content .Description_Left figure img {
    max-width: 50%;
  }
  .Description_wrapper .Description_Content {
    padding: 2.5rem 0 2rem;
  }
  ._appNavigation_mainContainer__583RN :first-child img {
    margin: 1rem 0.5rem 0.5rem !important;
    width: 35px !important;
    height: 30px !important;
  }
  ._appNavigation_Banner__CqsfJ {
    margin-left: 2.3rem !important;
  }
  ._appNavigation_mainContainer__583RN ._appNavigation_vani__\+hDDy img {
    width: 42px !important;
  }
  ._appNavigation_mainContainer__583RN ._appNavigation_englishLogo__w1bhq img {
    margin: 1rem 0.5rem 0.5rem !important;
    width: 60px !important;
    height: 35px !important;
  }
  //<<<<<<<---------Login--------->>>>>>>
  .LoginWrapper {
    .Form_wrp {
      width: 100% !important;
    }
  }

  ._login_loginContainer__Uqp2q {
    margin-top: 4rem !important;
  }
  ._login_loginMainHeader__m4HVz {
    font-size: 26px !important;
    padding-top: 4px !important;
  }
  ._login_loginSubheader__0fVLG {
    font-size: 12px !important;
    padding: 16px 5px !important;
    width: auto !important;
  }
  ._login_instututionalloginSubheader__De3mS {
    font-size: 20px !important;
    margin-bottom: 13px !important;
  }
  ._login_backForgotPassword__BVCYZ {
    margin-top: 24px !important;
    height: auto !important;
  }
  .MuiFormLabel-root {
    font-size: 13px !important;
  }

  .makeStyles-root-1 {
    min-width: auto !important;
    width: 80% !important;
  }
  ._login_institutionalWrapper__0iNzJ {
    display: block !important;
  }
  ._login_formMain__TOHbg {
    width: 100% !important;
  }
  .css-db2z83-MuiStack-root {
    width: 239px !important;
    margin: 0 auto !important;
  }
  ._login_loginSubheader__El5a7 {
    font-size: 14px !important;
  }
  //<<<<<<<---------Login-----end---here---->>>>>>>
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content
    .Grid-item
    figure {
    height: 200px;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
    width: 100%;
    left: 0%;
    top: -49px;
  }
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
  }

  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, max-content);
  }
  .ContinueReading_Wrapper .Grid-item .continue_btn {
    margin: 0 auto;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .SaveBook_Grid {
    grid-gap: 2rem 1rem;
  }
  .ContinueReading_Wrapper .Grid-item .continue_btn {
    font-size: 0.89em;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figcaption
    h3 {
    font-size: 1.1em;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figure
    .fa-bookmark,
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figure
    .fa-book-open {
    font-size: 1.4em;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .Save_heading {
    grid-gap: 1rem;
    padding: 0 0 1.2rem;
  }
  .SaveMain_Wrapper .Save_Content_wrp {
    padding: 3rem 0 3rem;
  }
  .Menu_Wrap ul {
    width: 170px !important;
  }
  //<<<<<<<---------Footer----->>>>>>>
  .Footer_Wrapper .Footer_Content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
  .Footer_Wrapper .Footer_Content {
    grid-gap: 1.5rem;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp {
    top: -38px;
  }
  //<<<<<<<---------Footer-----end---here---->>>>>>>
}
@media only screen and (max-width: 375px) {
  .homeContent_contentLayer__GNUwA h1 {
    font-size: 1.2rem !important;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .Save_heading {
    grid-template-columns: max-content 1fr;
    grid-gap: 1rem;
    padding: 0 0 1.4rem;
  }
  .homeContent_contentLayer__GNUwA {
    left: 43% !important;
    top: 27% !important;
  }
  ._trendingAuthor_bookDescription__C0WeB h1 {
    font-size: 0.79em;
  }
  ._trendingAuthor_bookDescription__C0WeB h2 {
    margin-top: 0.5rem;
    font-size: 0.89rem;
  }
  ._trendingAuthor_bookDescription__C0WeB p {
    margin-top: 0.4rem !important;
    font-size: 0.79rem !important;
    line-height: 1.8 !important;
    width: 72%;
  }
  ._trendingAuthor_authorDescription__dpuob {
    padding-left: 0rem !important;
    padding-top: 1.5rem !important;
    margin-left: 0rem !important;
  }
  ._trendingAuthor_authorDescription__dpuob img {
    width: 100% !important;
    max-width: 100% !important;
    height: 300px !important;
  }

  ._digitalCatelog_containerMain__Rq7nP h1 {
    font-size: 1.7rem !important;
  }
  ._publicationBanner_TextArea__ML4iF h1 {
    font-size: 1.4rem !important;
  }

  ._digitalCatelog_catelogContainer__dv\+W5 {
    margin-top: 2rem !important;
  }
  ._digitalCatelog_containerMain__Rq7nP h1:last-child {
    font-size: 1rem !important;
  }

  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figcaption
    h3 {
    font-size: 1.1em;
  }
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figure
    .fa-bookmark,
  .SaveMain_Wrapper
    .Save_Content_wrp
    .Save_Content
    .Save_heading
    figure
    .fa-book-open {
    font-size: 1.6em;
  }
  .SaveMain_Wrapper .Save_Content_wrp .Save_Content .SaveBook_Grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem 1rem;
  }
  .Description_wrapper
    .Otherbook_Wrapper
    .Grid_Carousel_wrp
    .Grid-item
    figcaption
    h3 {
    font-size: 14px;
  }
  .Description_wrapper .Otherbook_Wrapper .Otherbook-Heading {
    padding: 1rem 0;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h2 {
    font-size: 1.1em;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About_Book
    .About-book-title
    h5 {
    padding: 0.3rem 0 0.5em;
    font-size: 0.89em;
    line-height: 20px;
  }

  .Description_wrapper
    .Description_Content
    .Description_Right
    .About-book-detail
    > ul
    li {
    grid-gap: 0.5rem;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .About-book-detail
    > ul
    li
    strong {
    font-size: 13px;
  }
  .Description_wrapper .Description_Content .Description_Left figure img {
    max-width: 80%;
  }
  .Footer_Wrapper .Footer_Content {
    grid-gap: 0.5rem;
  }
  .Main_HomeWrapper .Search_Wrapper .Search_Item_Wrp .Search-child_wrap img {
    width: 15px;
    height: 15px;
  }
  .Description_wrapper
    .Description_Content
    .Description_Right
    .description-Group-btn
    button {
    width: 102px;
    height: 32px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content
    button {
    height: 30px;
    width: 80px;
    font-size: 12px;
  }
  .Main_HomeWrapper
    .Search_Wrapper
    .Search_Item_Wrp
    .Search-child_wrap
    .search_content
    input {
    font-size: 11px;
  }
  .Main_HomeWrapper .Banner_Wrapper .Banner_Content p {
    padding: 0.5rem 0 0;
    font-size: 12px;
    line-height: 1.5;
  }
  .Main_HomeWrapper
    .Category_Wrapper
    .Category_Grid_Wrp
    .category_Grid_Content
    .Grid-item
    figcaption
    h3 {
    font-size: 13px;
  }
  .Profile_Wrapper .Profilebtn {
    padding: 0.3rem 0.2rem !important;
    grid-template-columns: 130px max-content;
    grid-gap: 0.3rem;
  }
  .Profile_Wrapper {
    top: 15px;
    right: 6px;
  }
  .Profile_Wrapper .Profilebtn {
    font-size: 9px;
  }
  //<<<<<<<---------Login-------->>>>>>>
  .main_form_wrapper .Form_Wrapper {
    width: 100% !important;
  }
  ._login_loginMainHeader__m4HVz {
    font-size: 22px !important;
    padding-top: 4px !important;
  }
  //<<<<<<<---------Login-----end---here---->>>>>>>
}
@media only screen and (max-width: 320px) {
  .makeStyles-root-1 {
    width: 80% !important;
  }
}
