.Cart_Wrapper {
  .Cart_Content {
    width: 100%;
    .Cart_Grid_Wrapper {
      display: flex;
      grid-gap: 3rem;
      border-bottom: 1px solid #4e4e4e;
      padding: 1rem 0 1.5rem;
      width: 91%;
      margin: 0 auto 0.9rem;
      .Cart_Left {
        width: 40%;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: max-content 100px 1fr;
        align-items: center;
        .checkbox_Wrp {
          input {
            width: 30px;
            height: 30px;
            border: 2px solid #4e4e4e;
            cursor: pointer;
          }
        }
        .Cart_img {
          figure {
            img {
              max-width: 100%;
            }
          }
        }
        .About_Cart {
          h2 {
            font-family: "Lora";
            font-size: 1em;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0px;
            color: #333;
          }
          h4 {
            font-family: "Lora";
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0px;
            color: #4e4e4e;
            padding: 0.5rem 0;
          }
          h5 {
            font-family: "Lora";
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0px;
            color: #4e4e4e;
          }
        }
      }
      .Cart_right {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        align-items: center;
        .Counter_Number {
          @include Count;
        }
        .cart_remove {
          button {
            width: 135px;
            height: 28px;
            background: #fe4365;
            border-radius: 4px;
            @include flexwrp;
            outline: none;
            border: none;
            transition: $transition;
            &:hover {
              opacity: 0.78;
              transition: $transition;
              cursor: pointer;
            }
            span {
              font-family: "Lora";
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              letter-spacing: 0px;
              color: $white;
            }
          }
        }
        .Cart_Price {
          h3 {
            font-family: "Lora";
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0px;
            color: #0298bf;
          }
        }
      }
    }
    .Grand_Total {
      @include GrandTotal;
    }
  }
}
