.AuthorDescription_Wrapper {
  .Description_Content {
    padding: 0 0 1rem;
    .Description_Left {
      .img_Wrp {
        padding: 0 !important;
      }
    }
    .Social_Content {
      @include socialApp;
      padding: 2rem 0;
      width: 50%;
      margin: 0 auto;
      grid-gap: 1.5rem;
    }
    .Review_Form_Wrp {
      @include FormStyle;
      width: 60%;
      margin: 0;
      form {
        margin: 0;
      }
    }
    .Social_Content li svg {
      font-size: 1.6em;
    }
  }
  .Author_Detail {
    p {
      padding: 1rem 0;
    }
  }
  .AuthInfo_Wrapper {
    width: 91%;
    margin: 0 auto;
    border-bottom: 1px solid #0298bf;
    padding: 2rem 0 2rem;
    .AuthInfo_Content {
      ul {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 200px 1fr 200px;
        li {
          list-style-type: none;
          img {
            max-width: 100%;
          }
          .Auth-mid-content {
            h2 {
              font-family: "Lora";
              font-size: 36px;
              font-weight: 700;
              line-height: 46px;
              letter-spacing: 0.20000000298023224px;
              padding: 0.5rem 0;
              color: #333333;
            }
            .Star_wrp {
              display: flex;
              align-items: center;
              grid-gap: 0.5rem;
              width: 100%;
              padding: 0.5rem 0 1rem;
              .star-item {
                color: $star;
                font-size: 1.23em;
              }
            }
            strong {
              font-family: "Lora";
              font-size: 36px;
              font-weight: 700;
              line-height: 48px;
              letter-spacing: 0.20000000298023224px;
              color: #0298bf;
            }
            p {
              font-family: "Lora";
              font-size: 1em;
              font-weight: normal;
              line-height: 20px;
              letter-spacing: 0px;
              color: #333333;
              padding: 0.5rem 0;
              a {
                color: $star;
                font-weight: 500;
                transition: $transition;
                overflow: hidden;
                text-transform: none;
                &:hover {
                  transition: $transition;
                  opacity: 0.7;
                  transform: scale(1.099);
                }
              }
            }
          }
          .AuthInfo_Cart_Btn {
            .cart-btn {
              width: 170px;
              height: 44.54px;
              background: #0298bf;
              border-radius: 8px;
              margin: 0.5rem;
              display: inline-block;
              outline: none;
              border: none;
              transition: $transition;
              &:hover {
                transition: $transition;
                opacity: 0.7;
              }
              a {
                display: grid;
                grid-gap: 1.5rem;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(2, max-content);
                color: #fff;
                font-size: 1.1em;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0px;
                text-transform: capitalize;
              }
              &:nth-child(2) {
                margin-top: 1.4rem;
                border: 1px solid $skysolid !important;
                background: transparent !important;
                a {
                  color: $skysolid !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .Author_desc_Wrp {
    border-bottom: 0;
    margin-bottom: 1rem;
  }
}
