.Account_Wrapper {
  .Account_Content {
    padding: 1rem 0 5rem;
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem 6rem;
      li {
        list-style-type: none;
        align-items: center;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-gap: 1.5rem;
        margin: 1rem 0;
        position: relative;
        &:nth-child(odd) {
          &::before {
            content: "";
            width: 1px;
            height: 90px;
            background: #4e4e4e;
            position: absolute;
            right: -38px;
          }
        }
        figure {
          img {
            max-width: 100%;
          }
        }
        figcaption {
          h3 {
            font-family: "Lora";
            font-size: 24px;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0px;
            color: $heading;
          }
          p {
            font-family: "Lora";
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0px;
            padding: 0.7rem 0;
            color: #000;
          }
        }
      }
    }
  }
}

// <<<<<<---------Order----->>>>>>>>
.Order_Wrapper {
  .Order_Content {
    .Cart_Left {
      grid-template-columns: 100px 1fr !important;
    }
    .Cart_right {
      .order_number {
        span {
          font-family: "Lora";
          font-size: 24px;
          font-weight: 700;
          line-height: 31px;
          letter-spacing: 0px;
        }
      }
      .Delivered_Wrp {
        display: flex;
        align-items: center;
        grid-gap: 1rem;
        h4 {
          font-size: 1em;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0px;
        }
        span {
          .check-Success {
            color: $green;
            font-size: 1.32em;
          }
        }
      }
    }
  }
}
// <<<<<<---------Order--end--here--->>>>>>>>

// <<<<<<---------PersonalDetail_Wrapper-- -->>>>>>>>

.PersonalDetail_Wrapper {
  .PersonalDetail_Content {
    .Personal_Form {
      width: 50%;
      margin: 3rem auto 2rem;
      @include flexwrp;
      ul {
        li {
          list-style-type: none;
          margin: 0 0 1.4rem;
          h3 {
            font-family: "Lora";
            font-size: 1.1em;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0px;
            text-transform: capitalize;
            color: #333333;
            margin: 0 0 0.5rem;
          }
          span {
            font-size: 1em;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            color: #4e4e4e;
            .icon {
              color: #0298bf;
              margin-right: 0.3rem;
            }
          }
        }
        .Button {
          button {
            background: #0298bf;
            height: 36px;
            width: 158px;
            border-radius: 4px;
            outline: none;
            border: none;
            color: #fff;
            margin: 2rem 0 0;
            transition: $transition;
            &:hover {
              transition: $transition;
              opacity: 0.77;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// <<<<<<---------PersonalDetail_Wrapper--end--here--->>>>>>>>
